@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-neon-teal:   #54f4d0;
  --color-teal:        #1ED2AF;
  --color-blue:        #000061;
  --color-dark-blue:   #00003c;
  --color-darker-blue: #00002e;
  --color-red:         #d00414;
  --color-beige:       #f7f0dc;
  --color-offwhite:    #fef9e6;
}

@font-face {
  font-family: 'Galano-Grotesque';
  src: url('/fonts/GalanoGrotesque.otf') format('opentype');
}

body {
  font-family: 'Galano-Grotesque', Arial, Helvetica, sans-serif;

  @apply bg-beige dark:bg-dark-blue text-darker-blue dark:text-offwhite flex flex-col items-center p-2
}
