@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f7f0dc;
  --foreground: #00002e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00003c;
    --foreground: #fef9e6;
  }
}

@theme inline {
  --color-neon-teal:   #54f4d0;
  --color-teal:        #1ED2AF;
  --color-blue:        #000061;
  --color-dark-blue:   #00003c;
  --color-darker-blue: #00002e;
  --color-darkest-blue: #000028;
  --color-red:         #d00414;
  --color-beige:       #f7f0dc;
  --color-offwhite:    #fef9e6;
}

@font-face {
  font-family: 'Galano-Grotesque';
  src: url('/fonts/GalanoGrotesque.otf') format('opentype');
}

body {
  font-family: 'Galano-Grotesque', Arial, Helvetica, sans-serif;
  @apply bg-beige dark:bg-darker-blue text-darker-blue dark:text-offwhite flex flex-col items-center h-screen
}

a {
  @apply text-teal
}

.button {
  @apply rounded-2xl bg-teal text-darker-blue px-4 py-2
}

.btn-primary {
  @apply bg-teal text-darker-blue
}

.btn-secondary {
  @apply bg-darker-blue text-teal
}

.btn-tertiary {
  @apply bg-red text-offwhite
}

/* Firefox */
* {
  scrollbar-color: #1ED2AF #00002e;
  scrollbar-width: thin;
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background: #00002e;
}
*::-webkit-scrollbar-thumb {
  background: #1ED2AF;
  border-radius: 99px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #54f4d0;
}
